body{
    color: rgb(252, 250, 251);
    background-color: floralwhite;
    text-align: center;
}

#cabecera{
    border: rgb(129, 40, 96) 2px solid;
    box-shadow: 60px -16px rgb(46, 176, 176);
    background-color: rgb(231, 106, 106);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#abanico{
    width: 80px; height: 80px;
}